---
const overskrift = Astro.props.overskrift;
const tekst = Astro.props.tekst;
const secondtekst = Astro.props.secondtekst;
const thirdtekst = Astro.props.thirdtekst;
const fourthtekst = Astro.props.fourthtekst;
const fifthtekst = Astro.props.fifthtekst;
const sixthtekst = Astro.props.sixthtekst;
---

<article class="tekst">
  <h2 class="overskrift">{overskrift}</h2>
  <p>{tekst}</p>
  <p>{secondtekst}</p>
  <p>{thirdtekst}</p>
  <p>{fourthtekst}</p>
  <p>{fifthtekst}</p>
  <p>{sixthtekst}</p>
</article>

<style>
  .tekst {
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
    color: #536573;
    line-height: 2.2;
  }

  .overskrift {
    text-align: center;
    color: #485b6b;
    padding-top: 150px;
  }

  @media only screen and (max-width: 600px) {
    .tekst {
      padding: 15px;
    }
  }
</style>
